/*FERSA style*/

.card-img-top{height: 250px;}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
}


/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  /*.testata{ height: 30vh!important; }*/
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  /*.testata{ height: 40vh!important; }*/
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  /*.testata{ height: 40vh!important; }*/
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  /*.testata{ height: 40vh!important; }*/
}
