/******************** HomePage.jsp ********************/

body { background-color: #f5f5f5; }

.login,
.search {
    background: #fff;
    border: 2px solid #17a2b8;
    width: 100%;
    max-width: 800px;
    padding: 15px;
}

.search {
    border: 2px solid #28a745;
    margin-top: 10px;
}

.login > form > div > div > label { margin-right: 30px; }
.search > form > div > div > label { margin-right: 10px; }


/******************** ProfileView.jsp ********************/

.logout {
    text-align: left;
    margin: 10px;
}


/******************** CreateView.jsp ********************/

.starsRadio > input {
    margin-right: 20px;
}

#createEvalUsrForm {
    border: 2px #CC0000 solid;
    padding: 40px;
    margin-bottom: 50px;
}
#createEvalUsrForm > h3 { color: #CC0000; }
#createEvalUsrButton { background-color: #CC0000; }

#createEvalAptForm {
    border: 2px #007E2D solid;
    padding: 40px;
    margin-bottom: 50px;
}
#createEvalAptForm > h3 { color: #007E2D; }
#createEvalAptButton { background-color: #007E2D; }


/******************** Search.jsp ********************/

.search-page > div > div {
    background: #fff;
    border: 2px #CC0000 solid;
    padding: 20px;
    margin-bottom: 40px;
}
#search-apt-page > div > div { border: 2px #007E2D solid; }

.search-page > div > h1 {
    color: #CC0000;
}
#search-apt-page > div > h1 { color: #007E2D; }


/******************** EvalView.jsp ********************/

.eval-view-page > div > div {
    background: #fff;
    border: 2px #CC0000 solid;
    padding: 20px;
    margin-top: 20px;
}
#eval-apt-view-page > div > div { border: 2px #007E2D solid; }