body {
    background-color: #f5f5f5;
}

.login,
.search {
    background: #fff;
    border: 2px solid #17a2b8;
    width: 100%;
    max-width: 800px;
    padding: 15px;
}

.search {
    border: 2px solid #28a745;
    margin-top: 10px;
}

.search > form > div > div > label {
    margin-right: 10px;
}